@font-face {
    font-family: source-sans-pro-light;
    src: url("SourceSansPro-Light.ttf.woff");
    font-style: normal;
}
@font-face {
    font-family: source-sans-pro;
    src: url("SourceSansPro-Regular.ttf.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: source-serif-pro-light;
    src: url("SourceSerifPro-Light.ttf.woff");
    font-style: normal;
}
@font-face {
    font-family: source-serif-pro;
    src: url("SourceSerifPro-Regular.ttf.woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: source-serif-pro, serif;
    background-color: white;
    color: black;
}

#parent {
    margin:auto;
}

@media (min-width: 1000px) {
    #parent {
        max-width:800px;
    }
}

h1 {
    background-color:#aaf;
    text-align: center;
    font-family: source-sans-pro-light, sans-serif;
}

h2, h3 {
    font-family: source-sans-pro-light, sans-serif;
}

p {
    padding: 0px 20px 0px 20px;
}

table {
    padding: 0px 20px 0px 20px;
}

th {
    text-align:left;
}

td {
    /*
    border:1px solid #ddd;
    padding:0.5rem;
    */
}

.columnbreak {
    -webkit-column-break-before: always;
    break-before:column;
}

pre {
    /*font-family:source-code-pro;*/
    padding: 0px 40px 0px 40px;
    background-color:#eee;
    background-clip:content-box;
}

#index-table-elements {
    /*
    -moz-column-count:3;
    -webkit-column-count:3;
    */
}
